@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: 'Inter', sans-serif;
}

/* Убираем отступы и устанавливаем высоту на 100% */
html, body {
  margin: 0;
  height: 100%;
}

/* Контейнер для центрирования */
.App {
  display: flex;
  justify-content: center; /* Горизонтальное центрирование */
  align-items: center;     /* Вертикальное центрирование */
  height: 100%;
}

/* Основной контент */
.content {
  font-family: "Inter";
  position: relative;
  width: 1440px;
  height: 8855px;
  border: 1px solid black;
}

.logo {
  display: inline-block;
  margin-right: 20px;
  margin-top: 50px;
  margin-left: 69px;
  font-size: 30px;
  letter-spacing: -0.25px;
  font-weight: bolder;
  text-decoration: line-through;
}

.logo .logo__proffesion {
  color: #939395;
  margin-left: 11px;
  display: inline-block;
  font-size: 12px;
  line-height: 15px;
  font-weight: medium;
  text-decoration: line-through;
  line-height: auto;
}

.logo__proffesion {
  font-size: 14px;
  display: block;
}

/* Настройка панели навигации */
.navbar {
  position: absolute;
  top: 40px; /* Отступ от верхнего края окна */
  right: 50px; /* Расчетная позиция с учетом ширины контента */
  display: flex;
  gap: 15px; /* Расстояние между кнопками */
}

/* Кнопки навигации */
.nav-button {
  background-color: transparent; /* Прозрачный цвет фона */
  padding-top: 10px;
  border: none;
  cursor: pointer;
  text-decoration: line-through;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: -0.25px;
  margin-right: 21.6px;
}

#title {
  margin: 0px;
  margin-top: 145px;
  margin-left: 180px;
}

h2 {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.25px;
  text-decoration: line-through;

  color: #909090;
}

h1 {
  margin-top: 19px;
  margin-left: 180px;
  font-size: 124px;
  font-weight: bold;
  text-decoration: line-through;
  letter-spacing: 0.5px;
}

img.logo  {
  position: absolute ;
  top: 190px;
  left: 1035.7px;
}

div.logos {
  margin-left: 545px;
  margin-top: 170px;
}

#description1 {
  font-weight: 600;
  margin-top: 190px;
  margin-left: 69px;
}

#description1__content {
  margin-top: 35px;
  margin-left: 69px;
  font-weight: bold;
  font-size: 32px;
  line-height: 140.5%;
  text-decoration: line-through;

}

#description1__content p {
 margin-bottom: 50px;
}

#description1__content__entry-button {
  margin-top: 4px;
  margin-left: 2.5px;
  border: 2px solid #9747FF ;
  color: #9747FF;
  border-radius: 35px;
  padding: 18px 26px;
  font-size: 16px;
  font-weight: normal;

}

#pink__square {
  background-color: #FEDEFF;
}